Someone from {{ .SenderIP }} has requested a password reset for your mauIRC account.

If this was you, you may use the following link to reset your password:
<a href="{{ .ServerAddr }}/resetpassword.html#{{ .ResetToken }}">{{ .ServerAddr }}/resetpassword.html#{{ .ResetToken }}</a>

If you did not request this, it is safe to ignore.
The person requesting this was not granted access to any personal information.
The link will expire in 30 minutes ({{ .ExpiryTime }}).
