Welcome to mauIRC!

Please confirm your email address by clicking on the following link:
<a href="{{ .ServerAddr }}/confirm.html#{{ .Token }}">{{ .ServerAddr }}/confirm.html#{{ .Token }}</a>

If you did not create this account, you may ignore this message.
The link will expire in 1 hour ({{ .Expiry }}) and the account will be deleted unless validated before then.
Account creator IP: {{ .SenderIP }}
